<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="featuredattributes" translate="label" type="text" sortOrder="618" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Featured Attributes</label>
            <tab>swissup</tab>
            <resource>Swissup_FeaturedAttributes::config_featuredattributes</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="attributes" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attributes</label>
                    <source_model>Swissup\FeaturedAttributes\Model\Config\Source\ProductAttributes</source_model>
                    <comment><![CDATA[If some attribute is missing here, enable <b>Used in Product Listing</b> in attribute storefront properties]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
